* {
margin: 0px;
padding: 0px;
list-style: none;
text-decoration: none;
}

nav {
background: lightgoldenrodyellow;
height: 100px;
width: 100%; 

}
.logo-container {
 font-family: 'Sawarabi Mincho', sans-serif;
 float: left;
 line-height: 80px;
}
.navigation {
  float: right;
}
.navigation ul {
  line-height: 80px;
}
.navigation ul li {
display: inline-block;
}
.navigation ul li a {
  padding: 0px 5px;
  font-family: 'Sawarabi Mincho', sans-serif;
}
.poem {
  width: 100px;
  height: 100px;
  background:rgba(57, 221, 213, 0.308);
  padding: 50px
}
@media screen and (max-width: 520px) {
  .logo-container h1 {
    font-size: 20px;
  }
.navigation {
  font-size: 10px;
}
.logo-container{
  text-align: center;
  width: 100%;
  line-height: 30px;
  margin: 4px;
}
.navigation {
  width: 100%;
  text-align: center

}
.navigation ul {
  line-height: 30px;
}
.navigation ul li a{
  margin: 0px;
}
